<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Wiredawg's Homepage">
        <meta name="author" content="wiredawg">

        <title>wiredawg.github.io</title>

        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/simple-sidebar.css" rel="stylesheet">
        <link href="/css/debris.css" rel="stylesheet">

    </head>

    <body>
        <a id="top" />

        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="/"> Home </a>
                    </li>
                    {% for p in pages %}
                    <li>
                        <a href="{{ p.link }}">{{ p.title }}</a>
                    </li>
                    {% endfor %}
                    <li class="sidebar-seperator">
                        <a href="/">Posts/Updates</a>
                    </li>
                    {% for p in posts %}
                    <li>
                        <a href="/#{{ p.link|escape }}">{{ p.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <a href="#menu-toggle" class="btn btn-light" type="button" id="menu-toggle"> &middot;&middot;&middot; </a>
                        </div>
                    </div>
                    <hr />
                    <div style="padding:20px 0px 10px 0px" class="header-banner">
                        <div class="row">
                            <div class="col header-text text-right">
                                <h1>The Tin Can Report</h1>
                                <p><small>...Powered by <a href="https://github.com/wiredawg/wiredawg.github.io" class="link-styled">wiredawg</a></small></p>
                            </div>
                            <div class="col"></div>
                            <div class="col"></div>
                        </div>
                    </div>
                    <hr />

                    <div id="content">{% block content %}{% endblock %}</div>
                    
                    <hr class="dashed"/>
                </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- Bootstrap core JavaScript -->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Menu Toggle Script -->
        <script>
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        </script>

    </body>

</html>
